.container {
    width: 75vw;
    padding: 20px 0;
}
.title {
    text-align: center;
    margin: 20px 20px;
    font-size: 1.5rem;
    color: #2787af;
    font-weight: 100;
}
.card-img-top {
    height: 300px;
}